{block title}Filtry{/block}

{block content}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{$basePath}">Domů</a></li>
		<li class="breadcrumb-item active">Filtry</li>
	</ol>
</nav>

{control filterGroupGrid}
