{block title}Filtry{/block}

{block content}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{$basePath}">Domů</a></li>
		<li class="breadcrumb-item"><a n:href="Filter:default">Filtry</a></li>
	</ol>
</nav>

<div class="card">
	<div class="card-header">Přidat filtr</div>
	<div class="card-body">
		{control editForm}
	</div>
</div>

<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
