{form form}
	<legend>Skupina filtrů</legend>
	<div class="form-group row align-items-center">
		<div class="col-sm-2">
			<label>Název skupiny filtrů</label>
		</div>
		<div class="col-sm-10">
			<div class="row">
				{foreach $languages as $id => $language}
					{var $component = $form['filter_group_attribute-' . $id . '-name']}
					<div class="col-sm-12">
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<img src="{$basePath}/images/flags/{$language->code|lower}.png" alt="{$language->name}" title="{$language->name}">
								</div>
							</div>
							{input $component}
						</div>
					</div>
				{/foreach}
			</div>
		</div>
	</div>

	{foreach $form['filter_group']->getComponents() as $component}
		<div class="form-group row align-items-center">
			<div class="col-sm-2">
				{label $component}
			</div>
			<div class="col-sm-10">
				{input $component}
			</div>
		</div>
	{/foreach}
	

	<legend>Hodnoty filtrů</legend>
	<table id="filter" class="table table-bordered">
		<thead class="thead-light">
			<tr>
				<th scope="col">Název filtru</th>
				<th scope="col">Kód</th>
				<th scope="col">Pořadí</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{var $filterRow = 0}
			{foreach $filters as $filter}
				<tr id="filter-row{$filterRow}">
					<td class="text-left" style="width: 70%;">
						<input type="hidden" name="filter[{$filterRow}][filter_id]" value="{$filter['id']}" />
						{foreach $languages as $id => $language}
							{var $name = isset($filter['attribute']) && isset($filter['attribute']['name'][$language->id]) ? $filter['attribute']['name'][$language->id] : ''}
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<img src="{$basePath}/images/flags/{$language->code|lower}.png" title="{$language->name}" />
									</div>
								</div>
								<input type="text" name="filter[{$filterRow}][filter_attribute][{$language->id}][name]" value="{$name}" class="form-control" />
							</div>
						{/foreach}
					</td>
					<td class="text-right"><input type="text" name="filter[{$filterRow}][code]" value="{$filter['code']}" class="form-control" /></td>
					<td class="text-right"><input type="text" name="filter[{$filterRow}][sort_order]" value="{$filter['sort_order']}" class="form-control" /></td>
					<td class="text-right"><button type="button" onclick="$('#filter-row{$filterRow}').remove();" data-toggle="tooltip" title="Smazat" class="btn btn-danger"><i class="fas fa-minus-circle"></i></button></td>
				</tr>
				{var $filterRow = $filterRow + 1}
			{/foreach}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3"></td>
				<td class="text-right">
					<button type="button" onclick="addFilterRow();" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Přidat filtr">
						<i class="fas fa-plus-circle"></i>
					</button>
				</td>
			</tr>
		</tfoot>
	</table>

	{foreach $form['buttons']->getComponents() as $component}
		{label $component}
		{input $component}
	{/foreach}
{/form}

<script type="text/javascript">
	var filter_row = {$filterRow};

	function addFilterRow() {
		html  = '<tr id="filter-row' + filter_row + '">';
		html += '  <td class="text-left" style="width: 70%;"><input type="hidden" name="filter[' + filter_row + '][filter_id]" value="" />';
		{foreach $languages as $id => $language}
		html += '  <div class="input-group">';
		html += '    <div class="input-group-prepend">';
		html += '      <div class="input-group-text">';
		html += '        <img src="' + {$basePath} + '/images/flags/' + {$language->code|lower} + '.png" title="' + {$language->name} +'" />';
		html += '      </div>';
		html += '    </div>';
		html += '    <input type="text" name="filter[' + filter_row + '][filter_attribute][{$language->id}][name]" value="" class="form-control" />';
		html += '  </div>';
		{/foreach}
		html += '  </td>';
		html += '  <td class="text-right"><input type="text" name="filter[' + filter_row + '][code]" value="" class="form-control" /></td>';
		html += '  <td class="text-right"><input type="text" name="filter[' + filter_row + '][sort_order]" value="" placeholder="Pořadí" class="form-control" /></td>';
		html += '  <td class="text-right"><button type="button" onclick="$(\'#filter-row' + filter_row + '\').remove();" data-toggle="tooltip" title="Smazat" class="btn btn-danger"><i class="fas fa-minus-circle"></i></button></td>';
		html += '</tr>';

		$('#filter tbody').append(html);

		filter_row++;
	}
</script>